<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="public/styles/main.css" />
  </head>
  <body>
    <nav>
      <p>LOGO</p>
      <ul>
        <li>DASHBOARD</li>
        <li>USERS</li>
        <li>REPORTS</li>
      </ul>
    </nav>
    <div class="container">
      <aside>
        <p>PODRECZNE MENU</p>
      </aside>
      <main></main>
    </div>
  </body>
</html>
