h1 { color: gray;}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

form {
    background-color: bisque;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 1rem;
    width: 30vw;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

button {
  background-color: #777;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
  transform: scale(1.1);
  background-color: #666;
}

input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus {
  border-color: #888;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  outline: none;
}

input, button {
    width: 80%;
}

@media screen and (max-width: 480px) {
    form {
        width: 100vw;
    }
}